[Unit]
Description=A service to read Raspberry Pi's Core temperature using the '/opt/vc/bin/vcgencmd' command
After=network.target

[Service]
WorkingDirectory=/opt/pitemp
Restart=always
RestartSec=10
ExecStart=/opt/pitemp/pitemp

[Install]
WantedBy=multi-user.target
